<!DOCTYPE HTML>
<html>
	<head>
		<title>Instagram</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="{{image_link_var}}" alt="" /></span>

            <h1>{{user_bio_var}}</h1>
            <br>
            <!-- About me button -->
            <a href="#"><button style="color:white;width:40%" >More about me</button></a>
            <!--  -->
            <br> <br>
						<ul class="icons">
							<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
 

                {% for key in posts_var %}
                  <a href="">
                      <img src="{{key}}" alt="" />
                      <h3>{{posts_var[key]}}</h3>
                  </a>
                {% endfor %}

							</section>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<p>&copy; MEET's (fake) Instagram. No rights reserved. 
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>